<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>F-Bee.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA7D22F81DEE8B8C00E66DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7D230C1DEE8B8C00E66DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7D23171DEE8B8C00E66DAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
